
[user]

[core]
  pager = less -r
  editor = vim

[alias]
  a  = add
  b  = branch
  c  = commit
  dg = pull --rebase	
  k  = checkout
  l  = log
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  p  = push
  pl = pull
  s  = status
  
[color] 
  ui = auto
 
