
[user]
  name = leica19

[core]
  pager = less -r
  editor = vim

[alias]
  a  = add
  b  = branch
  c  = commit
  k  = checkout
  l  = log
  p  = push
  pl = pull
  s  = status
  
[color] 
  ui = auto
 
